{
    "swagger": "2.0",
    "info": {
        "version": "21.10.2",
        "title": "MOTOR Web Services"
    },
    "host": "api.motor.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "paths": {
        "/HelloWorld": {
            "get": {
                "tags": [
                    "Startup"
                ],
                "summary": "Get Hello World",
                "description": "A sample route used to demonstrate GET functionality",
                "operationId": "GetHelloWorld",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.GettingStarted.Response.MWSHelloWorldRs"
                        }
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Startup"
                ],
                "summary": "Put Hello World",
                "description": "A sample route used to demonstrate PUT functionality",
                "operationId": "PutHelloWorld",
                "consumes": [
                    "application/json",
                    "text/xml",
                    "application/xml",
                    "application/x-www-form-urlencoded",
                    "application/bson"
                ],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.GettingStarted.Request.MWSHelloWorldPutRq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.GettingStarted.Response.MWSHelloWorldRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Chek-Chart/Years": {
            "get": {
                "tags": [
                    "Chek-Chart"
                ],
                "summary": "Get Chek-Chart Vehicle Years",
                "description": "Returns all of the years for which there is data.",
                "operationId": "GetChekChartVehicleYears",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "Max",
                        "in": "query",
                        "description": "Specify the maximum year that should be returned. The year should be no greater than the current calendar year +1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "Min",
                        "in": "query",
                        "description": "Specify the minimum year that can be used. The earliest year is 1961.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WithRel",
                        "in": "query",
                        "description": "In the query, specify the relations that should exist for vehicle. This service will only return makes which have a record in the Estimated Work Times Data as a Service product. The only valid value is EWT.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "enum": [
                            "EWT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSChekChartVehicleYearsRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Chek-Chart/Years/{Year}/Makes": {
            "get": {
                "tags": [
                    "Chek-Chart"
                ],
                "summary": "Get Chek-Chart Vehicle Makes",
                "description": "Returns all of the makes (for which there is data), for a specific vehicle year.",
                "operationId": "GetChekChartVehicleMakes",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "Year",
                        "in": "path",
                        "description": "A four-digit vehicle year. Valid years start at 1961 and go through the current calendar year + 1.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2023,
                        "minimum": 1961,
                        "x-ample": "2007"
                    },
                    {
                        "name": "WithRel",
                        "in": "query",
                        "description": "In the query, specify the relations that should exist for vehicle. This service will only return makes which have a record in the Estimated Work Times Data as a Service product. The only valid value is EWT.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "enum": [
                            "EWT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSChekChartVehicleMakesRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Chek-Chart/Years/{Year}/Makes/{MakeCode}/Models": {
            "get": {
                "tags": [
                    "Chek-Chart"
                ],
                "summary": "Get Chek-Chart Vehicle Models",
                "description": "Returns a list of vehicle models and sub-models for a valid combination of a vehicle year and make.",
                "operationId": "GetChekChartVehicleModels",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "Year",
                        "in": "path",
                        "description": "A four-digit vehicle year. Valid years start at 1961 and go through the current calendar year + 1.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2023,
                        "minimum": 1961,
                        "x-ample": "2007"
                    },
                    {
                        "name": "MakeCode",
                        "in": "path",
                        "description": "A two-letter code indicating the vehicle make.",
                        "required": true,
                        "type": "string",
                        "x-ample": "FD"
                    },
                    {
                        "name": "WithRel",
                        "in": "query",
                        "description": "In the query, specify the relations that should exist for vehicle. This service will only return makes which have a record in the Estimated Work Times Data as a Service product. The only valid value is EWT.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "enum": [
                            "EWT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSChekChartVehicleModelsRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Chek-Chart/Years/{Year}/Makes/{MakeCode}/Models/{ModelCode}/Engines": {
            "get": {
                "tags": [
                    "Chek-Chart"
                ],
                "summary": "Get Chek-Chart Vehicle Engines",
                "description": "Returns a list of engines based on the supplied year, make, and model information.",
                "operationId": "GetChekChartVehicleEngines",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "Year",
                        "in": "path",
                        "description": "A four-digit vehicle year. Valid years start at 1961 and go through the current calendar year + 1.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2023,
                        "minimum": 1961,
                        "x-ample": "2007"
                    },
                    {
                        "name": "MakeCode",
                        "in": "path",
                        "description": "A two-letter code indicating the vehicle make.",
                        "required": true,
                        "type": "string",
                        "x-ample": "FD"
                    },
                    {
                        "name": "ModelCode",
                        "in": "path",
                        "description": "A five-character code indicating the vehicle model.",
                        "required": true,
                        "type": "string",
                        "x-ample": "FUSIO"
                    },
                    {
                        "name": "WithRel",
                        "in": "query",
                        "description": "In the query, specify the relations that should exist for vehicle. This service will only return makes which have a record in the Estimated Work Times Data as a Service product. The only valid value is EWT.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "enum": [
                            "EWT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSChekChartVehicleEnginesRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Chek-Chart/Years/{Year}/Makes/{MakeCode}/Models/{ModelCode}/Engines/{EngineCode}/Vehicles": {
            "get": {
                "tags": [
                    "Chek-Chart"
                ],
                "summary": "Get Vehicles By Chek-Chart",
                "description": "Returns a list of vehicles based on the supplied year, make, model, and engine information.",
                "operationId": "GetVehiclesByChekChart",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "Year",
                        "in": "path",
                        "description": "A four-digit vehicle year. Valid years start at 1961 and go through the current calendar year + 1.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2023,
                        "minimum": 1961,
                        "x-ample": "2007"
                    },
                    {
                        "name": "MakeCode",
                        "in": "path",
                        "description": "A two-letter code indicating the vehicle make.",
                        "required": true,
                        "type": "string",
                        "x-ample": "FD"
                    },
                    {
                        "name": "ModelCode",
                        "in": "path",
                        "description": "A five-character code indicating the vehicle model.",
                        "required": true,
                        "type": "string",
                        "x-ample": "FUSIO"
                    },
                    {
                        "name": "EngineCode",
                        "in": "path",
                        "description": "A one-character code indicating the vehicle engine.",
                        "required": true,
                        "type": "string",
                        "x-ample": "Z"
                    },
                    {
                        "name": "OutputStandard",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSVehiclesByChekChartRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Content/Details/Of/AppRelationTypes": {
            "get": {
                "tags": [
                    "Information Content Common"
                ],
                "summary": "Get Application Relation Type Mappings",
                "description": "The AppRelationType service is used across DaaS products with the exception of Vehicle Identification.\n\nThis service returns a list of application relation type mappings categorized by content data type. The application relation type IDs can be used as a comma separated list to filter all summary and taxonomy services.",
                "operationId": "GetApplicationRelationTypeMappings",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSAppRelationsTypeMappingRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Content/Details/Of/ContentSilos": {
            "get": {
                "tags": [
                    "Information Content Common"
                ],
                "summary": "Get Content Silo Mappings",
                "description": "Gets a list of content silos grouped by content data type",
                "operationId": "GetContentSiloMappings",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSContentSiloMappingRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Content/Details/Of/Specifications/Abbreviations": {
            "get": {
                "tags": [
                    "Specifications"
                ],
                "summary": "Get Specifications Abbreviations",
                "description": "This service returns a list of all of the abbreviations that are used in the specification data.",
                "operationId": "GetSpecificationsAbbreviations",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.Specifications.MWSSpecificationsAbbrRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Content/Details/Of/Taxonomies/By/ContentSilos": {
            "get": {
                "tags": [
                    "Information Content Common"
                ],
                "summary": "Get Taxonomy By Content Silo",
                "description": "Returns a list of all standard taxonomies, grouped by which content silos they are applicable to.",
                "operationId": "GetTaxonomyByContentSilo",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "ContentDataTypes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "enum": [
                            "AftermarketPartsCatalog",
                            "ComponentLocations",
                            "EstimatedWorkTimes",
                            "Fluids",
                            "MaintenanceSchedules",
                            "Parts",
                            "PartVectorIllustrations",
                            "ServiceProcedures",
                            "Specifications"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSTaxonomyByContentSiloRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Parts/Content/Summaries/Of/Parts": {
            "get": {
                "tags": [
                    "Parts"
                ],
                "summary": "Get Parts Summary From Part Number",
                "description": "Returns the summary information for part applications.",
                "operationId": "GetPartsSummaryFromPartNumber",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "PartNumber",
                        "in": "query",
                        "description": "The OEM Part Number to search for.  Full or partial Part Numbers are accepted.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ItemsPerPage",
                        "in": "query",
                        "description": "The number of results to include in each page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 100,
                        "minimum": 0
                    },
                    {
                        "name": "PageIndex",
                        "in": "query",
                        "description": "The index of the page to return. Each page will contain a maximum of 30 items in each page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.Parts.MWSPartPricingFamilyApplicationPartRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/BaseVehicle": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get Base Vehicle Details By Attribute",
                "description": "Returns information for a base vehicle by a supplied primary vehicle attribute ID.",
                "operationId": "GetBaseVehicleDetailsByAttribute",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSBaseVehicleDetailsRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/BaseVehicle/Attributes": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get Vehicle Attributes",
                "description": "Returns information on the complete set of attributes available for a base vehicle.",
                "operationId": "GetVehicleAttributes",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSBaseVehicleAttributesRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/BaseVehicle/Attributes/{VehicleAttributeLookupType}": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get Vehicle Attributes By Type",
                "description": "Returns information on a specific attribute set available for a base vehicle.",
                "operationId": "GetVehicleAttributesByType",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "VehicleAttributeLookupType",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "AxleTypes",
                            "BedTypes",
                            "BodyStyles",
                            "BrakeTypes",
                            "CabTypes",
                            "Countries",
                            "DriveTypes",
                            "Engines",
                            "ManufacturerBodyCodes",
                            "SpringTypes",
                            "SteeringTypes",
                            "SubModels",
                            "Transmissions",
                            "WheelBases"
                        ],
                        "x-ample": "Transmissions"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.VehicleInfo.MWSBaseVehicleAttributesRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/{ContentType}/{ApplicationID}/Documents/{DocumentID}/OEMComponents": {
            "get": {
                "tags": [
                    "Wiring Diagrams"
                ],
                "summary": "Get OEM Components Detail List By Application And Document",
                "description": "Returns information about OEM components within a document.",
                "operationId": "GetOEMComponentsDetailListByApplicationAndDocument",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "ContentType",
                        "in": "path",
                        "description": "A content type describing the relation being specified.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "AftermarketPartsCatalog",
                            "ComponentLocations",
                            "DiagnosticTroubleCodes",
                            "ECSGuide",
                            "EstimatedWorkTimes",
                            "Fluids",
                            "MaintenanceSchedules",
                            "Parts",
                            "PartVectorIllustrationLayers",
                            "PartVectorIllustrations",
                            "PCDBParts",
                            "ServiceProcedures",
                            "Specifications",
                            "TechnicalServiceBulletins",
                            "VehicleImages",
                            "WiringDiagrams"
                        ],
                        "x-ample": "wiringdiagrams"
                    },
                    {
                        "name": "ApplicationID",
                        "in": "path",
                        "description": "The application ID of an application record.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "132049679"
                    },
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "A valid document ID.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "2509566"
                    },
                    {
                        "name": "ItemsPerPage",
                        "in": "query",
                        "description": "The number of results to include in each page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 30,
                        "minimum": 0
                    },
                    {
                        "name": "PageIndex",
                        "in": "query",
                        "description": "The index of the page to return. Each page will contain a maximum of 30 items in each page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SearchTerm",
                        "in": "query",
                        "description": "Searching is performed against the taxonomy literal name field and supports partial and complete matches.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.OEMComponents.MWSOEMComponentsListRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/ComponentLocations/{ApplicationID}": {
            "get": {
                "tags": [
                    "Component Locations"
                ],
                "summary": "Get Component Location Details By Application",
                "description": "Returns the details of the component locations that match a specific application record.",
                "operationId": "GetComponentLocationDetailsByApplication",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "ApplicationID",
                        "in": "path",
                        "description": "The application ID of an application record.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "110478208"
                    },
                    {
                        "name": "Active",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/DiagnosticTroubleCodes/{ApplicationID}": {
            "get": {
                "tags": [
                    "Diagnostic Trouble Codes"
                ],
                "summary": "Get Diagnostic Trouble Code Details By Application",
                "description": "Returns the details of the diagnostic trouble codes that match a specific application record.",
                "operationId": "GetDiagnosticTroubleCodeDetailsByApplication",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "ApplicationID",
                        "in": "path",
                        "description": "The application ID of an application record.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "28172683"
                    },
                    {
                        "name": "Active",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/DiagnosticTroubleCodes/SupportingTests/In/Taxonomy/SAESubject/{SAESubjectID}/SAESystem/{SAESystemID}": {
            "get": {
                "tags": [
                    "Diagnostic Trouble Codes"
                ],
                "summary": "Get Diagnostic Trouble Codes Supporting Tests By SAE System",
                "description": "Returns a complete list of supporting diagnostic trouble codes within a specific SAE taxonomy hierarchy.",
                "operationId": "GetDiagnosticTroubleCodesSupportingTestsBySAESystem",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "5"
                    },
                    {
                        "name": "SAESubjectID",
                        "in": "path",
                        "description": "An SAE SubjectID value.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "12"
                    },
                    {
                        "name": "SAESystemID",
                        "in": "path",
                        "description": "An SAE SystemID value.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "143"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/EstimatedWorkTimes/{ApplicationID}": {
            "get": {
                "tags": [
                    "Estimated Work Times"
                ],
                "summary": "Get Estimated Work Time Details By Application",
                "description": "Returns the details of the estimated work times that match a specific application record.",
                "operationId": "GetEstimatedWorkTimeDetailsByApplication",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "ApplicationID",
                        "in": "path",
                        "description": "The application ID of an application record.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "23748599"
                    },
                    {
                        "name": "Active",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/Fluids/{ApplicationID}": {
            "get": {
                "tags": [
                    "Fluids"
                ],
                "summary": "Get Fluid Details By Application",
                "description": "Returns the details of the fluids that match a specific application record.",
                "operationId": "GetFluidDetailsByApplication",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "ApplicationID",
                        "in": "path",
                        "description": "The application ID of an application record.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "x-ample": "28097418"
                    },
                    {
                        "name": "Active",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/MaintenanceSchedules": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get Maintenance Schedules Details",
                "description": "Returns the details of the maintenance schedules for a specific vehicle filtered by search term and severity.",
                "operationId": "GetMaintenanceSchedulesDetails",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
                ],
                "parameters": [
                    {
                        "name": "AttributeType",
                        "in": "path",
                        "description": "Describes the type of primary attribute ID supplied in the attributeID route variable.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "BaseVehicleID"
                        ],
                        "x-ample": "BaseVehicleID"
                    },
                    {
                        "name": "AttributeID",
                        "in": "path",
                        "description": "The primary attribute ID of a valid vehicle.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ample": "22123"
                    },
                    {
                        "name": "SearchTerm",
                        "in": "query",
                        "description": "Searching is performed against the taxonomy literal name field and supports partial and complete matches.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Severity",
                        "in": "query",
                        "description": "The supported values are All, Normal, and Severe.",
                        "required": false,
                        "type": "string",
                        "default": "All",
                        "enum": [
                            "All",
                            "Normal",
                            "Severe"
                        ]
                    },
                    {
                        "name": "AX",
                        "in": "query",
                        "description": "Axle Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BD",
                        "in": "query",
                        "description": "Bed Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BR",
                        "in": "query",
                        "description": "Brake Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "BS",
                        "in": "query",
                        "description": "Body Style ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CB",
                        "in": "query",
                        "description": "Cab Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "CO",
                        "in": "query",
                        "description": "Country ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "DT",
                        "in": "query",
                        "description": "Drive Type ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "EN",
                        "in": "query",
                        "description": "Engine ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "MB",
                        "in": "query",
                        "description": "Manufacture Body Code ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SM",
                        "in": "query",
                        "description": "Sub-Model ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "SP",
                        "in": "query",
                        "description": "Spring ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "ST",
                        "in": "query",
                        "description": "Steering ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "TR",
                        "in": "query",
                        "description": "Transmission ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "WB",
                        "in": "query",
                        "description": "Wheel Base ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "AttributeStandard",
                        "in": "query",
                        "description": "The standard for the request and the response returned by the service.",
                        "required": false,
                        "type": "string",
                        "default": "MOTOR",
                        "enum": [
                            "MOTOR",
                            "VCDB"
                        ],
                        "x-enum-descriptions": {
                            "VCDB": "Vehicle configuration database."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MOTOR.DaaS.WebServices.DTO.Information.Response.Content.MWSInformationContentRs"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/Information/Vehicles/Attributes/{AttributeType}/{AttributeID}/Content/Details/Of/MaintenanceSchedules/{ApplicationID}": {
            "get": {
                "tags": [
                    "Maintenance Schedules"
                ],
                "summary": "Get Maintenance Schedule Details By Application",
                "description": "Returns the details of the maintenance schedules that match a specific application record.",
                "operationId": "GetMaintenanceScheduleDetailsByApplication",
                "consumes": [],
                "produces": [
                    "text/xml",
                    "application/xml",
                    "application/json",
                    "application/bson",
                    "application/javascript"
[...]
